<!DOCTYPE html>
<html>
  <head>
    <title>Tiger Talk</title>
    <script src="/static/js/app.js" defer></script>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1 id="header1">Tiger Talk</h1>
    <form class="box">
    <div>Logged in as: <strong id="username">Bob</strong></div>
    <div>
      <h3 id="head">New Post</h3>
      <textarea id="postInput" placeholder="What do you want to ask the Tiger?"></textarea><br>
      <button onclick="submitPost()" id="talk">Talk</button>
    </div>
    <hr />
    <h3>Feed</h3>
    <div id="feed"></div>

    <template id="post-template">
      <div class="post">
        <p><strong class="username"></strong>: <span class="message"></span></p>
        <small class="timestamp"></small>
        <hr />
      </div>
    </template>
  </form>
    <script>
      document.getElementById("username").innerText =
        localStorage.getItem("username");
    </script>
  </body>
</html>
