<!DOCTYPE html>
<html>
<head>
    <title>Banterbird Login</title>
    <script src="/static/js/login.js" defer></script>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/login">Login</a> |
        <a href="/new_account">Register</a> |
        <a href="/logout">Logout</a>
    </nav>
    <h1>Banterbird Login</h1>
    <div>
        <form id="login-form">
            <input type="text" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
