<!DOCTYPE html>
<html>
<head>
    <title>Banterbird New Account</title>
    <script src="/static/js/register.js" defer></script>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/login">Login</a> |
        <a href="/new_account">Register</a> |
        <a href="/logout">Logout</a>
    </nav>
    <h1>Banterbird New Account</h1>
    <div>
        <form id="account-form">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <input type="password" id="confirm-password" placeholder="Re-type Password">
            <input type="submit" value="Login">
            <p id="error-message" style="color: #ff0000;"></p>
        </form>
    </div>

</body>
</html>
